node_modules
npm-debug.log
*.pem
!mock-cert.pem
.env
coverage
lib
.vscode

.*.swp

# Local Netlify folder
.netlify

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
